.container {
  display: flex;
}

/* .fade_out {
    position: absolute; 
    top: 0; 
    bottom: 0; 
    right: 0; 
    left: 0; 

    background-color: rgb(152, 230, 152);
    animation: fade_out 500ms ease-in;
    visibility: hidden;
    z-index: 3; 
} */

.hello {
  background-color: blue;
  display: flex;
}

@keyframes fade_out {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
}
