.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--sidebar-primary);
  padding: 0.5rem 1rem;

  /* display: none;  */
  width: 100%;
}

.exit {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.my_classes {
  font-size: 1.2rem;
}

/* .site_icon {
} */

@media (max-width: 500px) {
  .container {
    padding: 0 0.5rem;
  }
  .exit {
    gap: 0rem;
  }
  .my_classes {
    /* color: red;
    display: none; */
  }
}
